@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <title>FestPay</title>
    <style>
        body {
            background-color: #FAFAFA;
            padding: 64px;
        }

        #container {
            width: 50%;
            display: block;
            margin: auto;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            padding: 64px;
            text-align: center;
        }

        .title {
            text-align: center;
        }

        #form_div {
            display: flex;
        }

        form {
            margin: auto;
        }

        input {
            margin: 4px;
        }

        button {
            margin: 4px;
        }
    </style>
</head>

<body>

    <div id="container">
        <h1 class="title">Make an account for FestPay</h1>
        <div id="form_div">
            <form method="post">
                <input type="text" name="name" placeholder="Firstname and Lastname" required="required"><br>
                <input type="email" name="email" placeholder="E-mail" required="required"><br>
                <input type="email" name="confirm_email" placeholder="Confirm E-mail" required="required"><br>
                <input type="password" name="password" placeholder="Password" required="required" minlength="4"><br>
                <input type="password" name="confirm_password" placeholder="Confirm Password" required="required" minlenght="4"><br>
                <button type="button">Cancel</button>
                <button type="submit">Register</button>
            </form>
        </div>
    </div>

</body>

</html>
